@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lexend:wght@100..900&display=swap');

.centeredHeader
{
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 5px;
}

.centered
{
    margin: auto;
    width: 80%;
    border: 2px solid red;
    padding: 5px;
}

.fontAndStuff
{
    font-family: "Lexend", sans-serif;
}

.photoBox
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

img
{
    width: 150px;
}